<div class="terms-container">
  <h1>ACUERDO DE TÉRMINOS</h1>

  <p>
    Estos Términos de Uso constituyen un acuerdo legalmente vinculante entre tú,
    ya sea a título personal o en representación de una entidad (“tú”), y The
    Pacific Brothers USA, LLC, operando bajo el nombre comercial Bivvo Market
    ("Bivvo Market", “nosotros”, “nos” o “nuestro”), con respecto a tu acceso y
    uso del sitio web
    <a href="https://bivvo-market.myshopify.com/" target="_blank"
      >https://bivvo-market.myshopify.com/</a
    >, así como de cualquier otro medio, canal de medios, sitio móvil o
    aplicación móvil relacionada, vinculada o conectada a este (colectivamente,
    el “Sitio”).
  </p>

  <p>
    Estamos registrados en Florida, Estados Unidos, y nuestra oficina registrada
    se encuentra en 8841 Froude Ave, Surfside, FL 33154. Al acceder al Sitio,
    declaras que has leído, comprendido y aceptado estar sujeto a todos estos
    Términos de Uso. SI NO ESTÁS DE ACUERDO CON TODOS ESTOS TÉRMINOS DE USO,
    ENTONCES TIENES PROHIBIDO USAR EL SITIO Y DEBES DEJAR DE USARLO
    INMEDIATAMENTE.
  </p>

  <p>
    Términos y condiciones adicionales o documentos que puedan ser publicados
    ocasionalmente en el Sitio se incorporan expresamente por referencia. Nos
    reservamos el derecho, a nuestra entera discreción, de realizar cambios o
    modificaciones a estos Términos de Uso en cualquier momento y por cualquier
    motivo. Te notificaremos sobre cualquier cambio actualizando la fecha de
    “Última actualización” de estos Términos de Uso, y renuncias al derecho a
    recibir notificación específica de cada cambio. Por favor, asegúrate de
    revisar los Términos aplicables cada vez que utilices nuestro Sitio para
    entender qué condiciones son aplicables.
  </p>

  <p>
    Estarás sujeto a, y se considerará que has sido informado y que has
    aceptado, cualquier cambio realizado en los Términos de Uso revisados
    mediante tu uso continuado del Sitio después de la fecha en que se publiquen
    dichos Términos revisados.
  </p>

  <p>
    La información proporcionada en el Sitio no está destinada a ser distribuida
    o utilizada por ninguna persona o entidad en ninguna jurisdicción o país
    donde dicha distribución o uso sea contrario a la ley o regulación, o que
    nos someta a requisitos de registro en dicha jurisdicción o país. Por lo
    tanto, aquellas personas que elijan acceder al Sitio desde otras ubicaciones
    lo hacen por iniciativa propia y son responsables del cumplimiento de las
    leyes locales, en la medida en que estas sean aplicables.
  </p>

  <p>
    El Sitio no está diseñado para cumplir con regulaciones específicas de la
    industria (como la Ley de Portabilidad y Responsabilidad del Seguro de Salud
    - HIPAA, la Ley Federal de Gestión de Seguridad de la Información - FISMA,
    etc.), por lo que si tus interacciones están sujetas a tales leyes, no debes
    utilizar este Sitio. Tampoco puedes utilizar el Sitio de manera que viole la
    Ley Gramm-Leach-Bliley (GLBA).
  </p>

  <p>
    El Sitio está destinado a usuarios mayores de 18 años. Las personas menores
    de 18 años no tienen permitido usar ni registrarse en el Sitio.
  </p>

  <h2>DERECHOS DE PROPIEDAD INTELECTUAL</h2>

  <p>
    A menos que se indique lo contrario, el Sitio es propiedad nuestra y todo el
    código fuente, bases de datos, funcionalidades, software, diseños del sitio
    web, audio, video, texto, fotografías y gráficos del Sitio (colectivamente,
    el “Contenido”), así como las marcas comerciales, marcas de servicio y
    logotipos que contiene (las “Marcas”), son de nuestra propiedad o están
    controlados por nosotros o licenciados a nosotros, y están protegidos por
    leyes de derechos de autor, marcas registradas y otras leyes de propiedad
    intelectual y competencia desleal de los Estados Unidos, leyes
    internacionales y convenios internacionales.
  </p>

  <p>
    El Contenido y las Marcas se proporcionan en el Sitio “TAL CUAL” para tu
    información y uso personal únicamente. Salvo que se indique expresamente en
    estos Términos de Uso, ninguna parte del Sitio, ni el Contenido ni las
    Marcas, puede ser copiada, reproducida, agregada, republicada, cargada,
    publicada, mostrada públicamente, codificada, traducida, transmitida,
    distribuida, vendida, licenciada o explotada de cualquier otra forma con
    fines comerciales sin nuestra autorización previa por escrito.
  </p>

  <p>
    Siempre que seas elegible para usar el Sitio, se te concede una licencia
    limitada para acceder y usar el Sitio, y para descargar o imprimir una copia
    de cualquier parte del Contenido al que hayas accedido correctamente,
    únicamente para tu uso personal y no comercial. Nos reservamos todos los
    derechos no otorgados expresamente a ti sobre el Sitio, el Contenido y las
    Marcas.
  </p>

  <h2>DECLARACIONES DEL USUARIO</h2>

  <p>
    Al utilizar el Sitio, declaras y garantizas que: (1) toda la información de
    registro que proporciones será verdadera, precisa, actual y completa; (2)
    mantendrás la precisión de dicha información y la actualizarás según sea
    necesario; (3) tienes la capacidad legal y aceptas cumplir con estos
    Términos de Uso; (4) no eres menor de edad en la jurisdicción en la que
    resides; (5) no accederás al Sitio a través de medios automatizados o no
    humanos, ya sea mediante bots, scripts u otros; (6) no utilizarás el Sitio
    para ningún propósito ilegal o no autorizado; y (7) tu uso del Sitio no
    violará ninguna ley o reglamento aplicable.
  </p>

  <p>
    Si proporcionas cualquier información que sea falsa, inexacta, no actual o
    incompleta, tenemos el derecho de suspender o cancelar tu cuenta y rechazar
    todo uso actual o futuro del Sitio (o cualquier parte del mismo).
  </p>

  <h2>REGISTRO DE USUARIO</h2>

  <p>
    Puede que se te solicite registrarte en el Sitio. Aceptas mantener la
    confidencialidad de tu contraseña y serás responsable de todo el uso de tu
    cuenta y contraseña. Nos reservamos el derecho de eliminar, reclamar o
    cambiar cualquier nombre de usuario que selecciones si determinamos, a
    nuestra exclusiva discreción, que dicho nombre es inapropiado, obsceno o de
    alguna manera objetable.
  </p>

  <h2>PRODUCTOS</h2>

  <p>
    Hacemos todo lo posible por mostrar con la mayor precisión posible los
    colores, características, especificaciones y detalles de los productos
    disponibles en el Sitio. Sin embargo, no garantizamos que los colores,
    características, especificaciones y detalles de los productos sean exactos,
    completos, confiables, actuales o libres de errores, y la visualización
    electrónica puede no reflejar con precisión los colores y detalles reales de
    los productos.
  </p>

  <p>
    Todos los productos están sujetos a disponibilidad, y no podemos garantizar
    que los artículos estén en stock. Nos reservamos el derecho de descontinuar
    cualquier producto en cualquier momento y por cualquier motivo. Los precios
    de todos los productos están sujetos a cambios.
  </p>

  <h2>COMPRAS Y PAGO</h2>

  <p>Aceptamos las siguientes formas de pago:</p>

  <ul>
    <li>PayPal</li>
    <li>Discover</li>
    <li>American Express</li>
    <li>Mastercard</li>
    <li>Visa</li>
  </ul>

  <p>
    Aceptas proporcionar información actual, completa y precisa sobre la compra
    y la cuenta para todas las compras realizadas a través del Sitio. Además,
    aceptas actualizar de inmediato la información de la cuenta y de pago,
    incluyendo dirección de correo electrónico, método de pago y fecha de
    vencimiento de la tarjeta, para que podamos completar tus transacciones y
    contactarte si es necesario.
  </p>

  <p>
    El impuesto sobre las ventas se añadirá al precio de las compras según lo
    consideremos necesario. Podemos cambiar los precios en cualquier momento.
    Todos los pagos deben realizarse en dólares estadounidenses (USD).
  </p>

  <p>
    Aceptas pagar todos los cargos al precio vigente en el momento de tu compra,
    incluidos los gastos de envío aplicables, y nos autorizas a cargar a tu
    proveedor de pago elegido dichos montos al realizar tu pedido. Nos
    reservamos el derecho de corregir cualquier error o equivocación en los
    precios, incluso si ya hemos solicitado o recibido el pago.
  </p>

  <p>
    Nos reservamos el derecho de rechazar cualquier pedido realizado a través
    del Sitio. Podemos, a nuestra entera discreción, limitar o cancelar las
    cantidades compradas por persona, por hogar o por pedido. Estas
    restricciones pueden incluir pedidos realizados por o bajo la misma cuenta
    de cliente, el mismo método de pago y/o pedidos que utilicen la misma
    dirección de facturación o envío. Nos reservamos el derecho de limitar o
    prohibir pedidos que, a nuestro exclusivo criterio, parezcan realizados por
    distribuidores, revendedores o mayoristas.
  </p>

  <h2>POLÍTICA DE DEVOLUCIONES</h2>

  <p>
    Por favor, revisa nuestra Política de Devoluciones publicada en el Sitio
    antes de realizar cualquier compra.
  </p>

  <h2>ACTIVIDADES PROHIBIDAS</h2>

  <p>
    No puedes acceder ni utilizar el Sitio para ningún propósito distinto de
    aquel para el cual lo ponemos a disposición. El Sitio no puede ser utilizado
    en relación con actividades comerciales, salvo que estén específicamente
    autorizadas por nosotros.
  </p>

  <p>Como usuario del Sitio, aceptas no:</p>
  <ul>
    <li>
      Recopilar sistemáticamente datos u otro contenido del Sitio para crear
      bases de datos, compilaciones o directorios sin permiso escrito.
    </li>
    <li>
      Engañar, defraudar o inducir a error a nosotros o a otros usuarios,
      especialmente para obtener información confidencial.
    </li>
    <li>
      Eludir, desactivar o interferir con funciones de seguridad del Sitio.
    </li>
    <li>Desprestigiarnos, dañarnos o perjudicar la imagen del Sitio.</li>
    <li>
      Usar información obtenida del Sitio para acosar, abusar o dañar a otra
      persona.
    </li>
    <li>
      Hacer uso indebido de los servicios de soporte o enviar reportes falsos.
    </li>
    <li>
      Usar el Sitio de manera contraria a leyes o regulaciones aplicables.
    </li>
    <li>Enmarcar o enlazar el Sitio sin autorización.</li>
    <li>
      Subir o transmitir virus, troyanos u otro material dañino, o publicar
      mensajes spam o repetitivos.
    </li>
    <li>Utilizar automatizaciones como scripts, robots o minería de datos.</li>
    <li>Eliminar avisos de derechos de autor de cualquier contenido.</li>
    <li>Hacerse pasar por otro usuario o usar su nombre de usuario.</li>
    <li>
      Subir mecanismos de recolección de información como cookies, bugs o
      píxeles espía.
    </li>
    <li>Interferir o generar carga indebida en el Sitio o sus redes.</li>
    <li>Acosar, molestar, intimidar o amenazar a nuestro personal.</li>
    <li>Intentar burlar medidas de restricción del Sitio.</li>
    <li>
      Copiar o adaptar el software del Sitio (Flash, PHP, HTML, JavaScript,
      etc.).
    </li>
    <li>
      Ingeniería inversa, descompilación o desensamblaje del software del Sitio.
    </li>
    <li>
      Usar spiders, scrapers, bots, lectores offline u otros sistemas
      automatizados no autorizados.
    </li>
    <li>Utilizar agentes o intermediarios de compra para hacer pedidos.</li>
    <li>
      Recolectar correos electrónicos o crear cuentas falsas con fines
      comerciales no autorizados.
    </li>
    <li>
      Usar el Sitio para competir con nosotros o con fines comerciales no
      autorizados.
    </li>
    <li>
      Usar el Sitio para publicitar o vender productos o servicios no
      autorizados.
    </li>
    <li>Vender o transferir tu perfil sin autorización.</li>
  </ul>

  <h2>CONTRIBUCIONES GENERADAS POR EL USUARIO</h2>

  <p>
    El Sitio no permite actualmente a los usuarios enviar o publicar contenido.
    No obstante, podemos ofrecerte la posibilidad de crear, enviar, mostrar,
    publicar o transmitir contenido, como textos, videos, audios, fotografías,
    sugerencias o cualquier otro material (“Contribuciones”).
  </p>

  <p>
    Las Contribuciones podrían ser visibles por otros usuarios del Sitio y a
    través de sitios web de terceros. Por tanto, cualquier Contribución será
    tratada conforme a nuestra Política de Privacidad.
  </p>

  <p>Al crear o compartir Contribuciones, declaras y garantizas que:</p>

  <ul>
    <li>
      No infringes derechos de propiedad intelectual de terceros (copyright,
      marca, patente, etc.).
    </li>
    <li>
      Eres el creador o cuentas con licencias o permisos necesarios para su uso
      y publicación.
    </li>
    <li>
      Tienes consentimiento escrito de las personas identificables en tus
      contribuciones para usar su imagen o nombre.
    </li>
    <li>Tu contenido no es falso, engañoso ni inexacto.</li>
    <li>
      No es publicidad no solicitada, spam, esquemas piramidales ni promociones
      no autorizadas.
    </li>
    <li>No es obsceno, vulgar, violento, difamatorio o censurable.</li>
    <li>No ridiculiza, burla o intimida a otros.</li>
    <li>No promueve violencia ni acosa a personas o grupos.</li>
    <li>No viola leyes o regulaciones aplicables.</li>
    <li>No infringe la privacidad o derechos de imagen de terceros.</li>
    <li>
      No contiene pornografía infantil ni materiales que atenten contra menores.
    </li>
    <li>
      No contiene comentarios ofensivos relacionados con raza, género, origen,
      orientación sexual o discapacidad.
    </li>
    <li>No enlaza a contenido que viole estos Términos de Uso ni la ley.</li>
  </ul>

  <p>
    Cualquier uso del Sitio que infrinja lo anterior puede conllevar la
    suspensión o terminación de tu acceso al Sitio y a sus servicios.
  </p>

  <h2>LICENCIA DE CONTRIBUCIONES</h2>

  <p>
    Tú y el Sitio acuerdan que podemos acceder, almacenar, procesar y utilizar
    cualquier información y datos personales que proporciones, de acuerdo con
    nuestra Política de Privacidad y tus decisiones (incluidas tus
    configuraciones).
  </p>

  <p>
    Al enviarnos sugerencias u otros comentarios sobre el Sitio, aceptas que
    podemos utilizar y compartir dichos comentarios para cualquier propósito,
    sin compensación para ti.
  </p>

  <p>
    No reclamamos ningún derecho de propiedad sobre tus Contribuciones.
    Conservas todos los derechos sobre tus Contribuciones y cualquier derecho de
    propiedad intelectual asociado. No somos responsables por declaraciones o
    representaciones hechas por ti en tus Contribuciones en cualquier parte del
    Sitio. Eres el único responsable de tus Contribuciones y aceptas eximirnos
    de toda responsabilidad y abstenerte de emprender acciones legales en
    nuestra contra respecto a tus Contribuciones.
  </p>

  <h2>ENVÍOS</h2>

  <p>
    Reconoces y aceptas que cualquier pregunta, comentario, sugerencia, idea,
    retroalimentación u otra información relacionada con el Sitio o los
    Productos ofrecidos (“Envíos”) que nos proporciones son no confidenciales y
    pasarán a ser propiedad exclusiva nuestra.
  </p>

  <p>
    Seremos propietarios exclusivos de todos los derechos, incluidos los
    derechos de propiedad intelectual, y tendremos derecho al uso y distribución
    sin restricciones de estos Envíos para cualquier propósito legal, comercial
    o de otro tipo, sin reconocimiento o compensación para ti.
  </p>

  <p>
    Por la presente renuncias a todos los derechos morales sobre dichos Envíos y
    garantizas que dichos Envíos son originales o que tienes el derecho de
    enviarlos. Aceptas que no tendrás recurso alguno contra nosotros por
    cualquier infracción o apropiación indebida de derechos relacionados con tus
    Envíos.
  </p>

  <h2>GESTIÓN DEL SITIO</h2>

  <p>Nos reservamos el derecho, pero no la obligación, de:</p>
  <ul>
    <li>
      Supervisar el Sitio para detectar violaciones de estos Términos de Uso.
    </li>
    <li>
      Tomar acciones legales apropiadas contra quien viole la ley o estos
      términos.
    </li>
    <li>
      Restringir, limitar o deshabilitar cualquier Contribución, sin previo
      aviso y a nuestra sola discreción.
    </li>
    <li>
      Eliminar contenido o archivos que sobrecarguen el sistema o resulten
      problemáticos.
    </li>
    <li>
      Gestionar el Sitio de manera que se protejan nuestros derechos y se
      garantice su funcionamiento adecuado.
    </li>
  </ul>

  <h2>POLÍTICA DE PRIVACIDAD</h2>

  <p>
    Nos preocupamos por la privacidad y seguridad de tus datos. Revisa nuestra
    <a
      href="https://bivvo-market.myshopify.com/pages/privacy-policy"
      target="_blank"
      >Política de Privacidad</a
    >. Al usar el Sitio, aceptas estar sujeto a ella, la cual se incorpora en
    estos Términos de Uso.
  </p>

  <p>
    Ten en cuenta que el Sitio está alojado en Estados Unidos. Si accedes desde
    otra región con leyes distintas sobre protección de datos, al continuar
    usando el Sitio aceptas expresamente la transferencia y procesamiento de tus
    datos en Estados Unidos.
  </p>

  <h2>VIGENCIA Y TERMINACIÓN</h2>

  <p>
    Estos Términos de Uso permanecerán en vigor mientras utilices el Sitio. NOS
    RESERVAMOS EL DERECHO DE DENEGAR EL ACCESO Y USO DEL SITIO A CUALQUIER
    PERSONA, EN CUALQUIER MOMENTO Y POR CUALQUIER MOTIVO, INCLUYENDO
    INCUMPLIMIENTOS DE ESTOS TÉRMINOS O DE LA LEY APLICABLE.
  </p>

  <p>
    Podemos suspender o eliminar tu cuenta sin previo aviso. Si eso ocurre,
    tienes prohibido crear otra cuenta bajo tu nombre, nombre falso, prestado o
    de un tercero. Además, podemos emprender acciones legales correspondientes.
  </p>

  <h2>MODIFICACIONES E INTERRUPCIONES</h2>

  <p>
    Nos reservamos el derecho de modificar, suspender o eliminar contenido del
    Sitio, en cualquier momento y sin previo aviso. No estamos obligados a
    mantener actualizado el contenido del Sitio ni a garantizar disponibilidad
    continua del mismo.
  </p>

  <p>
    El Sitio puede experimentar interrupciones, errores o mantenimientos. No nos
    hacemos responsables por cualquier pérdida o daño causado por la
    imposibilidad de acceso al Sitio durante estas interrupciones. Nada en estos
    Términos nos obliga a mantener o proporcionar soporte continuo, correcciones
    o actualizaciones del Sitio.
  </p>

  <h2>LEY APLICABLE</h2>
  <p>
    Estos Términos de Uso y tu uso del Sitio y de los Servicios están regidos e
    interpretados de acuerdo con las leyes del Estado de Florida, aplicables a
    los contratos celebrados y ejecutados íntegramente dentro del Estado de
    Florida, sin considerar principios de conflicto de leyes.
  </p>

  <h2>RESOLUCIÓN DE DISPUTAS</h2>
  <h3>Negociación Informal</h3>
  <p>
    Las partes acuerdan intentar resolver cualquier disputa de manera informal
    durante al menos treinta (30) días antes de iniciar un arbitraje. Estas
    negociaciones comienzan al notificarse por escrito una parte a la otra.
  </p>

  <h3>Arbitraje Vinculante</h3>
  <p>
    Si no se resuelve la disputa, será resuelta mediante arbitraje vinculante
    bajo las normas de la AAA (American Arbitration Association). Aceptas que
    renuncias al derecho de demandar en un tribunal o tener un juicio con
    jurado. El arbitraje podrá realizarse en persona, por documentos,
    telefónicamente o en línea. El árbitro aplicará la ley y su decisión será
    por escrito.
  </p>
  <p>
    Si por alguna razón una disputa se presenta ante un tribunal, será en los
    tribunales del estado y federales ubicados en Florida, EE.UU. Las partes
    renuncian a objeciones por jurisdicción o foro.
  </p>

  <h3>Restricciones</h3>
  <p>
    Las partes acuerdan que cualquier arbitraje será individual. No se permite
    el arbitraje colectivo, en representación de terceros o como acción
    representativa.
  </p>

  <h3>Excepciones</h3>
  <p>
    No están sujetas a arbitraje las disputas sobre derechos de propiedad
    intelectual, alegaciones de robo o piratería, ni solicitudes de medidas
    cautelares. Tales disputas serán resueltas por los tribunales mencionados.
  </p>

  <h2>CORRECCIONES</h2>
  <p>
    Puede haber errores tipográficos o inexactitudes en el Sitio. Nos reservamos
    el derecho de corregirlos sin previo aviso.
  </p>

  <h2>DESCARGO DE RESPONSABILIDAD</h2>
  <p>
    EL SITIO SE PROPORCIONA “TAL CUAL” Y “SEGÚN DISPONIBILIDAD”. TU USO ES BAJO
    TU PROPIO RIESGO. EN LA MEDIDA MÁXIMA PERMITIDA POR LA LEY, NO OFRECEMOS
    GARANTÍAS EXPRESAS O IMPLÍCITAS SOBRE EL SITIO. NO SOMOS RESPONSABLES DE
    ERRORES, DAÑOS, ACCESO NO AUTORIZADO, INTERRUPCIONES, VIRUS, U OMISIONES DE
    CONTENIDO. NO AVALAMOS NI RESPALDAMOS PRODUCTOS DE TERCEROS VINCULADOS AL
    SITIO.
  </p>

  <h2>LIMITACIÓN DE RESPONSABILIDAD</h2>
  <p>
    NO SEREMOS RESPONSABLES ANTE TI NI ANTE TERCEROS POR DAÑOS INDIRECTOS,
    INCIDENTALES, PUNITIVOS O PÉRDIDAS COMO LUCRO CESANTE, AUN CUANDO HAYAMOS
    SIDO ADVERTIDOS. NUESTRA RESPONSABILIDAD TOTAL SE LIMITA A LA CANTIDAD
    PAGADA POR TI EN LOS ÚLTIMOS SEIS (6) MESES, SI LA HUBO. ALGUNAS LEYES
    PUEDEN NO PERMITIR ESTA LIMITACIÓN.
  </p>

  <h2>INDEMNIZACIÓN</h2>
  <p>
    Aceptas indemnizarnos y defendernos de cualquier reclamación de terceros
    derivada de: (1) tu uso del Sitio; (2) tu incumplimiento de estos Términos;
    (3) violación de los derechos de otros; (4) actos dañinos contra otros
    usuarios. Podemos asumir la defensa a tu cargo y deberás cooperar con
    nosotros en dicha defensa.
  </p>

  <h2>DATOS DEL USUARIO</h2>
  <p>
    Conservaremos ciertos datos que transmitas al Sitio con el fin de
    administrar su funcionamiento, así como datos relacionados con tu uso del
    mismo. Aunque realizamos copias de seguridad periódicas, eres el único
    responsable de toda la información que proporciones o que esté vinculada a
    tus actividades en el Sitio. Aceptas que no seremos responsables por la
    pérdida o corrupción de dichos datos y renuncias a cualquier reclamo
    relacionado con ello.
  </p>

  <h2>COMUNICACIONES, TRANSACCIONES Y FIRMAS ELECTRÓNICAS</h2>
  <p>
    Visitar el Sitio, enviarnos correos electrónicos y completar formularios en
    línea constituyen comunicaciones electrónicas. Aceptas recibir
    comunicaciones electrónicas de nuestra parte y reconoces que todos los
    acuerdos, notificaciones, divulgaciones y demás comunicaciones electrónicas
    cumplen con cualquier requisito legal de que dicha comunicación sea por
    escrito.
  </p>
  <p>
    ACEPTAS EL USO DE FIRMAS, CONTRATOS, PEDIDOS Y REGISTROS ELECTRÓNICOS, ASÍ
    COMO LA ENTREGA ELECTRÓNICA DE AVISOS, POLÍTICAS Y REGISTROS DE
    TRANSACCIONES REALIZADAS POR NOSOTROS O A TRAVÉS DEL SITIO. Renuncias a
    cualquier derecho bajo leyes que requieran firma original o entrega de
    registros físicos.
  </p>

  <h2>USUARIOS Y RESIDENTES DE CALIFORNIA</h2>
  <p>
    Si tienes una queja no resuelta satisfactoriamente, puedes contactar a la
    Unidad de Asistencia de Quejas del Departamento de Asuntos del Consumidor de
    California en 1625 North Market Blvd., Suite N 112, Sacramento, CA 95834, o
    por teléfono al (800) 952-5210 o (916) 445-1254.
  </p>

  <h2>DISPOSICIONES GENERALES</h2>
  <p>
    Estos Términos de Uso, junto con cualquier política publicada por nosotros
    en el Sitio, constituyen el acuerdo completo entre tú y nosotros. El hecho
    de que no hagamos cumplir algún derecho no implica renuncia a dicho derecho.
    Podemos ceder nuestros derechos y obligaciones en cualquier momento. No
    seremos responsables por retrasos o fallas causados por circunstancias fuera
    de nuestro control. Si alguna disposición es inválida, las restantes
    seguirán vigentes. No existe relación de sociedad, agencia o empleo entre tú
    y nosotros. Aceptas que estos términos no se interpretarán en nuestra contra
    por haberlos redactado. Renuncias a cualquier defensa basada en el formato
    electrónico o la falta de firma física.
  </p>

  <h2>CONTÁCTANOS</h2>
  <p>
    Para resolver una queja o recibir más información sobre el uso del Sitio,
    contáctanos en:
  </p>

  <p>
    <strong>The Pacific Brothers USA, LLC</strong><br />
    8841 Froude Ave<br />
    Surfside, FL 33154<br />
    Estados Unidos<br />
    Teléfono: 3057944827<br />
    Correo: <a href="mailto:barrioceo@yahoo.com">barrioceo&#64;yahoo.com</a>
  </p>
</div>
