<div class="terms-container">
  <h1>{{ 'terms_agreement.title' | transloco }}</h1>

  <p [innerHTML]="'terms_agreement.intro_p1' | transloco"></p>
  <p [innerHTML]="'terms_agreement.intro_p2' | transloco"></p>
  <p>{{ 'terms_agreement.intro_p3' | transloco }}</p>
  <p>{{ 'terms_agreement.intro_p4' | transloco }}</p>
  <p>{{ 'terms_agreement.intro_p5' | transloco }}</p>
  <p>{{ 'terms_agreement.intro_p6' | transloco }}</p>
  <p>{{ 'terms_agreement.intro_p7' | transloco }}</p>

  <h2>{{ 'terms_agreement.intellectual_property_rights.title' | transloco }}</h2>
  <p>{{ 'terms_agreement.intellectual_property_rights.p1' | transloco }}</p>
  <p>{{ 'terms_agreement.intellectual_property_rights.p2' | transloco }}</p>
  <p>{{ 'terms_agreement.intellectual_property_rights.p3' | transloco }}</p>

  <h2>{{ 'terms_agreement.user_representations.title' | transloco }}</h2>
  <p>{{ 'terms_agreement.user_representations.p1' | transloco }}</p>
  <p>{{ 'terms_agreement.user_representations.p2' | transloco }}</p>

  <h2>{{ 'terms_agreement.user_registration.title' | transloco }}</h2>
  <p>{{ 'terms_agreement.user_registration.p1' | transloco }}</p>

  <h2>{{ 'terms_agreement.products.title' | transloco }}</h2>
  <p>{{ 'terms_agreement.products.p1' | transloco }}</p>
  <p>{{ 'terms_agreement.products.p2' | transloco }}</p>

  <h2>{{ 'terms_agreement.purchases_payment.title' | transloco }}</h2>
  <p>{{ 'terms_agreement.purchases_payment.accepted_payments' | transloco }}</p>
  <ul>
    <li>{{ 'terms_agreement.purchases_payment.payment_methods.0' | transloco }}</li>
    <li>{{ 'terms_agreement.purchases_payment.payment_methods.1' | transloco }}</li>
    <li>{{ 'terms_agreement.purchases_payment.payment_methods.2' | transloco }}</li>
    <li>{{ 'terms_agreement.purchases_payment.payment_methods.3' | transloco }}</li>
    <li>{{ 'terms_agreement.purchases_payment.payment_methods.4' | transloco }}</li>
  </ul>
  <p>{{ 'terms_agreement.purchases_payment.p1' | transloco }}</p>
  <p>{{ 'terms_agreement.purchases_payment.p2' | transloco }}</p>
  <p>{{ 'terms_agreement.purchases_payment.p3' | transloco }}</p>
  <p>{{ 'terms_agreement.purchases_payment.p4' | transloco }}</p>

  <h2>{{ 'terms_agreement.returns_policy.title' | transloco }}</h2>
  <p>{{ 'terms_agreement.returns_policy.p1' | transloco }}</p>

  <h2>{{ 'terms_agreement.prohibited_activities.title' | transloco }}</h2>
  <p>{{ 'terms_agreement.prohibited_activities.p1' | transloco }}</p>
  <p>{{ 'terms_agreement.prohibited_activities.p2' | transloco }}</p>
  <ul>
    <li>{{ 'terms_agreement.prohibited_activities.list.0' | transloco }}</li>
    <li>{{ 'terms_agreement.prohibited_activities.list.1' | transloco }}</li>
    <li>{{ 'terms_agreement.prohibited_activities.list.2' | transloco }}</li>
    <li>{{ 'terms_agreement.prohibited_activities.list.3' | transloco }}</li>
    <li>{{ 'terms_agreement.prohibited_activities.list.4' | transloco }}</li>
    <li>{{ 'terms_agreement.prohibited_activities.list.5' | transloco }}</li>
    <li>{{ 'terms_agreement.prohibited_activities.list.6' | transloco }}</li>
    <li>{{ 'terms_agreement.prohibited_activities.list.7' | transloco }}</li>
    <li>{{ 'terms_agreement.prohibited_activities.list.8' | transloco }}</li>
    <li>{{ 'terms_agreement.prohibited_activities.list.9' | transloco }}</li>
    <li>{{ 'terms_agreement.prohibited_activities.list.10' | transloco }}</li>
    <li>{{ 'terms_agreement.prohibited_activities.list.11' | transloco }}</li>
    <li>{{ 'terms_agreement.prohibited_activities.list.12' | transloco }}</li>
    <li>{{ 'terms_agreement.prohibited_activities.list.13' | transloco }}</li>
    <li>{{ 'terms_agreement.prohibited_activities.list.14' | transloco }}</li>
    <li>{{ 'terms_agreement.prohibited_activities.list.15' | transloco }}</li>
    <li>{{ 'terms_agreement.prohibited_activities.list.16' | transloco }}</li>
    <li>{{ 'terms_agreement.prohibited_activities.list.17' | transloco }}</li>
    <li>{{ 'terms_agreement.prohibited_activities.list.18' | transloco }}</li>
    <li>{{ 'terms_agreement.prohibited_activities.list.19' | transloco }}</li>
    <li>{{ 'terms_agreement.prohibited_activities.list.20' | transloco }}</li>
    <li>{{ 'terms_agreement.prohibited_activities.list.21' | transloco }}</li>
    <li>{{ 'terms_agreement.prohibited_activities.list.22' | transloco }}</li>
  </ul>

  <h2>{{ 'terms_agreement.user_generated_contributions.title' | transloco }}</h2>
  <p>{{ 'terms_agreement.user_generated_contributions.p1' | transloco }}</p>
  <p>{{ 'terms_agreement.user_generated_contributions.p2' | transloco }}</p>
  <p>{{ 'terms_agreement.user_generated_contributions.p3' | transloco }}</p>
  <ul>
    <li>{{ 'terms_agreement.user_generated_contributions.list.0' | transloco }}</li>
    <li>{{ 'terms_agreement.user_generated_contributions.list.1' | transloco }}</li>
    <li>{{ 'terms_agreement.user_generated_contributions.list.2' | transloco }}</li>
    <li>{{ 'terms_agreement.user_generated_contributions.list.3' | transloco }}</li>
    <li>{{ 'terms_agreement.user_generated_contributions.list.4' | transloco }}</li>
    <li>{{ 'terms_agreement.user_generated_contributions.list.5' | transloco }}</li>
    <li>{{ 'terms_agreement.user_generated_contributions.list.6' | transloco }}</li>
    <li>{{ 'terms_agreement.user_generated_contributions.list.7' | transloco }}</li>
    <li>{{ 'terms_agreement.user_generated_contributions.list.8' | transloco }}</li>
    <li>{{ 'terms_agreement.user_generated_contributions.list.9' | transloco }}</li>
    <li>{{ 'terms_agreement.user_generated_contributions.list.10' | transloco }}</li>
    <li>{{ 'terms_agreement.user_generated_contributions.list.11' | transloco }}</li>
  </ul>
  <p>{{ 'terms_agreement.user_generated_contributions.p4' | transloco }}</p>

  <h2>{{ 'terms_agreement.contributions_license.title' | transloco }}</h2>
  <p>{{ 'terms_agreement.contributions_license.p1' | transloco }}</p>
  <p>{{ 'terms_agreement.contributions_license.p2' | transloco }}</p>
  <p>{{ 'terms_agreement.contributions_license.p3' | transloco }}</p>

  <h2>{{ 'terms_agreement.submissions.title' | transloco }}</h2>
  <p>{{ 'terms_agreement.submissions.p1' | transloco }}</p>
  <p>{{ 'terms_agreement.submissions.p2' | transloco }}</p>
  <p>{{ 'terms_agreement.submissions.p3' | transloco }}</p>

  <h2>{{ 'terms_agreement.site_management.title' | transloco }}</h2>
  <p>{{ 'terms_agreement.site_management.p1' | transloco }}</p>
  <ul>
    <li>{{ 'terms_agreement.site_management.list.0' | transloco }}</li>
    <li>{{ 'terms_agreement.site_management.list.1' | transloco }}</li>
    <li>{{ 'terms_agreement.site_management.list.2' | transloco }}</li>
    <li>{{ 'terms_agreement.site_management.list.3' | transloco }}</li>
    <li>{{ 'terms_agreement.site_management.list.4' | transloco }}</li>
  </ul>

  <h2>{{ 'terms_agreement.privacy_policy.title' | transloco }}</h2>
  <p [innerHTML]="'terms_agreement.privacy_policy.p1' | transloco"></p>
  <p>{{ 'terms_agreement.privacy_policy.p2' | transloco }}</p>

  <h2>{{ 'terms_agreement.term_termination.title' | transloco }}</h2>
  <p>{{ 'terms_agreement.term_termination.p1' | transloco }}</p>
  <p>{{ 'terms_agreement.term_termination.p2' | transloco }}</p>

  <h2>{{ 'terms_agreement.modifications_interruptions.title' | transloco }}</h2>
  <p>{{ 'terms_agreement.modifications_interruptions.p1' | transloco }}</p>
  <p>{{ 'terms_agreement.modifications_interruptions.p2' | transloco }}</p>

  <h2>{{ 'terms_agreement.governing_law.title' | transloco }}</h2>
  <p>{{ 'terms_agreement.governing_law.p1' | transloco }}</p>

  <h2>{{ 'terms_agreement.dispute_resolution.title' | transloco }}</h2>
  <h3>{{ 'terms_agreement.dispute_resolution.informal_negotiation.title' | transloco }}</h3>
  <p>{{ 'terms_agreement.dispute_resolution.informal_negotiation.p1' | transloco }}</p>

  <h3>{{ 'terms_agreement.dispute_resolution.binding_arbitration.title' | transloco }}</h3>
  <p>{{ 'terms_agreement.dispute_resolution.binding_arbitration.p1' | transloco }}</p>
  <p>{{ 'terms_agreement.dispute_resolution.binding_arbitration.p2' | transloco }}</p>

  <h3>{{ 'terms_agreement.dispute_resolution.restrictions.title' | transloco }}</h3>
  <p>{{ 'terms_agreement.dispute_resolution.restrictions.p1' | transloco }}</p>

  <h3>{{ 'terms_agreement.dispute_resolution.exceptions.title' | transloco }}</h3>
  <p>{{ 'terms_agreement.dispute_resolution.exceptions.p1' | transloco }}</p>

  <h2>{{ 'terms_agreement.corrections.title' | transloco }}</h2>
  <p>{{ 'terms_agreement.corrections.p1' | transloco }}</p>

  <h2>{{ 'terms_agreement.disclaimer.title' | transloco }}</h2>
  <p>{{ 'terms_agreement.disclaimer.p1' | transloco }}</p>

  <h2>{{ 'terms_agreement.limitation_liability.title' | transloco }}</h2>
  <p>{{ 'terms_agreement.limitation_liability.p1' | transloco }}</p>

  <h2>{{ 'terms_agreement.indemnification.title' | transloco }}</h2>
  <p>{{ 'terms_agreement.indemnification.p1' | transloco }}</p>

  <h2>{{ 'terms_agreement.user_data.title' | transloco }}</h2>
  <p>{{ 'terms_agreement.user_data.p1' | transloco }}</p>

  <h2>{{ 'terms_agreement.electronic_communications.title' | transloco }}</h2>
  <p>{{ 'terms_agreement.electronic_communications.p1' | transloco }}</p>
  <p>{{ 'terms_agreement.electronic_communications.p2' | transloco }}</p>

  <h2>{{ 'terms_agreement.california_users_residents.title' | transloco }}</h2>
  <p>{{ 'terms_agreement.california_users_residents.p1' | transloco }}</p>

  <h2>{{ 'terms_agreement.general_provisions.title' | transloco }}</h2>
  <p>{{ 'terms_agreement.general_provisions.p1' | transloco }}</p>

  <h2>{{ 'terms_agreement.contact_us.title' | transloco }}</h2>
  <p>{{ 'terms_agreement.contact_us.p1' | transloco }}</p>

  <p>
    <strong>{{ 'terms_agreement.contact_us.company_name' | transloco }}</strong><br />
    {{ 'terms_agreement.contact_us.address_line1' | transloco }}<br />
    {{ 'terms_agreement.contact_us.address_line2' | transloco }}<br />
    {{ 'terms_agreement.contact_us.country' | transloco }}<br />
    {{ 'terms_agreement.contact_us.phone' | transloco }}<br />
    <span [innerHTML]="'terms_agreement.contact_us.email' | transloco"></span>
  </p>
</div>