<!-- SVG decoración abajo[ngStyle]="{ backgroundColor: colorFondo }" -->

<section>
  <div class="row g-4 align-items-center">
    <!-- Columna izquierda con imagen -->
    <div class="col-12 col-md-6">
      <app-icon-grid [items]="iconosDerecha"></app-icon-grid>
    </div>

    <div
      class="col-12 col-md-6 d-flex justify-content-rigth icon-grid-padding pb-mobile"
    >
      <img
        src="assets/img/banner/_DSC6720_q60.webp"
        alt="Producto"
        loading="lazy"
        decoding="async"
        fetchpriority="low"
        class="img-fluid custom-product-img rounded-4 shadow-sm"
        style="height: auto; width: 100%"
      />
    </div>

    <!-- Columna derecha con iconos -->
  </div>
</section>

<!-- <video
  src="assets/video/historia2_editado_fast.mp4"
  class="img-fluid rounded-4 shadow-sm"
  style="width: 10%; height: auto"
  autoplay
  muted
  loop
  playsinline
  preload="metadata"
></video> -->
