<section class="shop__area pb-65">
  <div class="shop__top grey-bg-6 pt-100 pb-90">
    <div class="container">
      <app-product-details-upper
        [product]="product!"
      ></app-product-details-upper>
    </div>
  </div>

  <div class="shop__bottom">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="product__details-tab">
            <div class="product__details-tab-nav text-center mb-45">
              <nav>
                <div
                  class="nav nav-tabs justify-content-start justify-content-sm-center"
                  id="pro-details"
                  role="tablist"
                >
                  <a
                    class="nav-item nav-link active"
                    id="des-tab"
                    data-bs-toggle="tab"
                    href="#des"
                    role="tab"
                    aria-controls="des"
                    aria-selected="true"
                    >Descripción</a
                  >
                  <a
                    class="nav-item nav-link"
                    id="car-tab"
                    data-bs-toggle="tab"
                    href="#car"
                    role="tab"
                    aria-controls="car"
                    aria-selected="false"
                    >Características</a
                  >
                  <a
                    class="nav-item nav-link"
                    id="add-tab"
                    data-bs-toggle="tab"
                    href="#add"
                    role="tab"
                    aria-controls="add"
                    aria-selected="false"
                    >¿Por qué comprar Bivvo?</a
                  >

                  <!-- <a
                    [ngClass]="
                      cssDescription
                        ? 'nav-item nav-link active'
                        : 'nav-item nav-link'
                    "
                    id="des-tab"
                    (click)="onChange()"
                    data-bs-toggle="tab"
                    role="tab"
                    aria-controls="des"
                    aria-selected="true"
                    >Descripcion</a
                  >
                  <a
                    [ngClass]="
                      cssCarectistica
                        ? 'nav-item nav-link active'
                        : 'nav-item nav-link'
                    "
                    id="car-tab"
                    (click)="onChange()"
                    data-bs-toggle="tab"
                    role="tab"
                    aria-controls="car"
                    aria-selected="false"
                    >Carácteristicas</a
                  >
                  <a
                    [ngClass]="
                      cssAdditional
                        ? 'nav-item nav-link active'
                        : 'nav-item nav-link'
                    "
                    id="add-tab"
                    (click)="onChange()"
                    data-bs-toggle="tab"
                    role="tab"
                    aria-controls="add"
                    aria-selected="false"
                    >Informacion Adicional</a
                  > -->
                  <!-- <a class="nav-item nav-link" id="review-tab" data-bs-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="false">Reviews ({{product?.reviews?.length}})</a> -->
                </div>
              </nav>
            </div>
            <div class="tab-content" id="pro-detailsContent">
              <div
                class="tab-pane fade show active"
                id="des"
                role="tabpanel"
                aria-labelledby="des-tab"
              >
                <div class="product__details-car">
                  <div class="product__details-car-list mb-20">
                    <div class="product__details-des">
                      <p [innerHTML]="product?.details_text"></p>

                      <!-- <p>{{product?.details?.details_text_2}}</p> -->
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="tab-pane fade"
                id="car"
                role="tabpanel"
                aria-labelledby="car-tab"
              >
                <div class="product__details-car-list">
                  <div class="row row-cols-2 row-cols-md-3 row-cols-xl-4 g-3">
                    <div class="col" *ngFor="let it of product?.detallesLista">
                      <div class="card h-100 text-center shadow-sm">
                        <div
                          class="card-body d-flex align-items-center justify-content-center"
                        >
                          <span class="fw-semibold">{{ it.detalle }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="tab-pane fade"
                id="add"
                role="tabpanel"
                aria-labelledby="add-tab"
              >
                <div class="product__details-car">
                  <div class="container my-4">
                    <div class="row row-cols-2 g-3">
                      <div class="col" *ngFor="let item of quinoaLovers">
                        <div class="card h-100 text-center shadow-sm">
                          <div
                            class="card-body d-flex align-items-center justify-content-center"
                          >
                            <span class="fw-semibold">{{ item }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
