<section class="video-banner-section">
  <div class="video-frame" #viewport>
    <!-- Solo renderizamos el <video> cuando shouldLoad sea true -->
    <ng-container *ngIf="shouldLoad">
      <video
        autoplay
        [muted]="true"
        playsinline
        loop
        preload="none"
        class="responsive-video"
        [attr.poster]="poster"
        aria-label="Video promocional"
      >
        <source [attr.src]="videoSrc" type="video/webm" />
      </video>
      <span class="visually-hidden">{{ "video.support" | transloco }}</span>
    </ng-container>
  </div>
</section>
