<!-- Lado derecho: iconos -->
<div class="lado derecho">
  <!-- [ngStyle]="{
    backgroundColor: colorFondo
  }" -->
  <div class="grid-iconos">
    <!-- Ícono 1: Natural -->
    <div class="icono-card">
      <div class="icono-svg">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="60"
          height="60"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#225e26"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-plant"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M7 15h10v4a2 2 0 0 1 -2 2h-6a2 2 0 0 1 -2 -2v-4z" />
          <path d="M12 9a6 6 0 0 0 -6 -6h-3v2a6 6 0 0 0 6 6h3" />
          <path d="M12 11a6 6 0 0 1 6 -6h3v1a6 6 0 0 1 -6 6h-3" />
          <path d="M12 15l0 -6" />
        </svg>
      </div>
      <h4>{{ "video.Natural" | transloco }}</h4>
      <p>{{ "video.Sugar" | transloco }}</p>
    </div>

    <!-- Ícono 2: Hermético -->
    <!-- <div class="icono-box"> -->
    <div class="icono-card">
      <div class="icono-svg">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="60"
          height="60"
          viewBox="0 0 24 24"
          stroke="#225e26"
          fill="none"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-shield"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="M12 3a12 12 0 0 0 8.5 3a12 12 0 0 1 -8.5 15a12 12 0 0 1 -8.5 -15a12 12 0 0 0 8.5 -3"
          />
        </svg>
      </div>
      <h4>{{ "video.Hermetic" | transloco }}</h4>
      <p>{{ "video.Keeps" | transloco }}</p>
    </div>

    <!-- Ícono 3: Alto en Proteínas -->
    <div class="icono-card">
      <div class="icono-svg">
        <svg
          width="60"
          height="60"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#225e26"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <circle cx="12" cy="12" r="4" />
          <line x1="12" y1="2" x2="12" y2="4" />
          <line x1="12" y1="20" x2="12" y2="22" />
          <line x1="4.22" y1="4.22" x2="5.64" y2="5.64" />
          <line x1="18.36" y1="18.36" x2="19.78" y2="19.78" />
          <line x1="2" y1="12" x2="4" y2="12" />
          <line x1="20" y1="12" x2="22" y2="12" />
          <line x1="4.22" y1="19.78" x2="5.64" y2="18.36" />
          <line x1="18.36" y1="5.64" x2="19.78" y2="4.22" />
        </svg>
      </div>
      <h4>{{ "video.High" | transloco }}</h4>
      <p>{{ "video.Source" | transloco }}</p>
    </div>

    <!-- Ícono 4: Premium -->
    <div class="icono-card">
      <div class="icono-svg">
        <svg
          width="60"
          height="60"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#225e26"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <circle cx="12" cy="8" r="6" />
          <path d="M8 15l-2 5 6-3 6 3-2-5" />
        </svg>
      </div>
      <h4>{{ "video.Premium" | transloco }}</h4>
      <p>{{ "video.Product" | transloco }}</p>
    </div>
  </div>
</div>
