.pantalla-dividida {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

.lado {
  width: 50%;
}

.izquierdo video {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.derecho {
  background-color: #fdd1c4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-iconos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  max-width: 500px;
  text-align: center;
}

.icono-box img {
  width: 60px;
  height: 60px;
  margin-bottom: 0.5rem;
}

.icono-box h4 {
  font-weight: bold;
  margin-bottom: 0.25rem;
  color: #201f1f;
}

.icono-box p {
  font-size: 0.9rem;
  color: #666;
}
