<section [ngStyle]=>
  <div class="row g-4 align-items-center">
    <!-- Columna izquierda con imagen "{ backgroundColor: colorFondo }"-->
    <div
      class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-4 d-flex justify-content-rigth icon-grid-padding"
    >
      <img
        src="assets/img/banner/Middle-Design.webp"
        alt="Producto"
        class="img-fluid custom-product-img"
        style="height: auto; width: 100%"
      />
    </div>

    <div class="col-12 col-md-6 pb-mobile">
      <app-icon-grid
        [items]="iconosDerecha"
        [height]="gridHeight"
      ></app-icon-grid>
    </div>
  </div>
</section>
