<!-- blog__slider-area start -->
<div class="blog__slider-area pt-100 pb-100">
  <div class="container custom-container-2">
    <div class="row">
      <div class="col-xl-12">
        <div class="row">
          <div class="col-xl-12">
            <div class="section__wrapper text-center">
              <h3 class="section__title-2"><span> Nuestras receras </span></h3>
              <p>Update The Latest Fashion Trends in The World</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-40">
      <div class="col-xl-12">
        <div class="blog_slider">
          <div class="blog_slider-area p-relative">
            <div
              class="blog__slider-active swiper-container"
              #blogSliderContainer
            >
              <div class="swiper-wrapper">
                <div
                  *ngFor="let blog of blog_items"
                  class="blog__slider-item swiper-slide"
                >
                  <div class="blog-thumb m-img">
                    <img [src]="blog.img" alt="blog-img" />
                    <a
                      class="btn"
                      [routerLink]="['/pages/blog-details', blog.id]"
                    >
                      <i class="fa fa-link"></i>
                    </a>
                  </div>
                  <div class="blog__post-content">
                    <div class="blog__wrapper">
                      <h5 class="blog__post-title">
                        <a [routerLink]="['/pages/blog-details', blog.id]">{{
                          blog.title
                        }}</a>
                      </h5>
                      <div class="article-meta d-flex justify-content-center">
                        <span class="article-author"
                          ><span>By</span> {{ blog.author }}</span
                        >
                        <span> /</span>
                        <span class="article-publish">
                          <i class="fa fa-calendar-o"></i>
                          {{ blog.date }}
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-nav">
              <div class="owl-prev" (click)="blogSliderInstance?.slidePrev()">
                <button><i class="fal fa-angle-left"></i></button>
              </div>
              <div class="owl-next" (click)="blogSliderInstance?.slideNext()">
                <button><i class="fal fa-angle-right"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- blog__slider-area end -->
