<nav>
  <ul>
    <li *ngFor="let item of menu_data; let index = index" [ngClass]="getMenuClasses(item)">
      <a *ngIf="!item.href" [routerLink]="item.link">
        {{item.title | transloco}}
      </a>
      <a *ngIf="item.href" [href]="item.link">
        {{ item.title | transloco }}
      </a>


      <!-- <ul *ngIf="item.hasDropdown && item.megamenu" class="submenu transition-3"
      style="background-image: url('/assets/img/logo/logoBM01.webp');background-position: center;" >
        <li *ngFor="let m_mnu of item.dropdownItems; let index = index" class="has-dropdown">
          <a [routerLink]="m_mnu.link">{{ m_mnu.title }}</a>
        </li>
      </ul> -->

      <ul *ngIf="item.hasDropdown && item.megamenu" class="submenu">

        <div class="menu">
          <!-- Categoría 1 -->
          <div *ngFor="let gc of gruposCategoria; let index = index" class="category">
            <h3>{{gc}}</h3>
            <div *ngFor="let m_mnu of item.dropdownItems; let index = index">
              <a style="padding: 0px;padding-bottom: 20px;" *ngIf="m_mnu.categoria == gc" [routerLink]="m_mnu.link">{{ m_mnu.title }}</a>
            </div>
            <div *ngIf="index == 0">
              <img src="/assets/img/shop/HojaVerde.png" alt="Logo" class="category-image" style="margin-top: 50px;" width="150px" height="100px">

            </div>
          </div>

        </div>



      </ul>



    </li>
  </ul>
</nav>
