<nav>
  <ul>
    <li *ngFor="let item of menu_data; let index = index" [ngClass]="getMenuClasses(item)">
      <a *ngIf="!item.href" [routerLink]="item.link">
        {{item.title | transloco}}
      </a>
      <a *ngIf="item.href" (click)="goToSection('/productos', 'sRecetas', $event)"
        style="cursor: pointer;color: #323232;">
        {{ item.title | transloco }}
      </a>


      <ul *ngIf="item.hasDropdown && item.megamenu" class="submenu">

        <div class="menu">
          <!-- Categoría 1 -->
          <div *ngFor="let gc of gruposCategoria; let index = index" class="category">
            <h3>{{gc}}</h3>
            <div *ngFor="let m_mnu of item.dropdownItems; let index = index">
              <a *ngIf="m_mnu.categoria == gc" style="padding: 0px;padding-bottom: 20px;" [routerLink]="m_mnu.link"
                (mouseenter)="cambiarImagen(m_mnu.img)" (mouseleave)="cambiarImagen('/assets/img/shop/HojaVerde.png')">
                {{ m_mnu.title }}
              </a>
            </div>

          </div>
          <div class="category">

            <img [src]="imgOver" alt="Logo" style="width: 100%; height: auto;padding-top: 80px;">

          </div>

        </div>



      </ul>



    </li>
  </ul>
</nav>
