<main>
  <!-- breadcrumb start -->
  <app-breadcrumb-one
    title="Contáctanos"
    subtitle="Contacto"
    bg="/assets/img/contact/BM_CO02.png"
  ></app-breadcrumb-one>
  <!-- breadcrumb end -->

  <!-- área de contacto inicio -->
  <section class="contact__area pb-100 pt-95">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6">
          <div class="contact__info">
            <h3>Contáctanos</h3>
            <ul class="mb-55">
              <li class="d-flex mb-35">
                <div class="contact__info-icon mr-20">
                  <i class="fal fa-map-marker-alt"></i>
                </div>
                <div class="contact__info-content">
                  <h6>Dirección:</h6>
                  <span>Lima, Perú</span>
                </div>
              </li>
              <li class="d-flex mb-35">
                <div class="contact__info-icon mr-20">
                  <i class="fal fa-envelope-open-text"></i>
                </div>
                <div class="contact__info-content">
                  <h6>Email:</h6>
                  <span>contacto&#64;bivvomarket.com</span>
                </div>
              </li>
              <li class="d-flex mb-35">
                <div class="contact__info-icon mr-20">
                  <i class="fal fa-phone-alt"></i>
                </div>
                <div class="contact__info-content">
                  <h6>Teléfono:</h6>
                  <span>978059505</span>
                </div>
              </li>
            </ul>
            <p>
              Bivvo Market ofrece productos de quinua de alta calidad. Nos
              especializamos en alimentos saludables, naturales y sostenibles.
              Nuestro objetivo es promover una alimentación consciente, con
              productos andinos ricos en nutrientes, accesibles para todos.
            </p>

            <div class="contact__social">
              <ul>
                <li>
                  <a href="#"><i class="fab fa-dribbble"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-behance"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fas fa-share-alt"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6">
          <div class="contact__form">
            <h3>Escríbenos</h3>
            <!-- formulario de contacto -->
            <app-contact-form></app-contact-form>
            <!-- fin formulario -->
            <p class="ajax-response"></p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- área de contacto fin -->

  <!-- mapa de contacto inicio -->
  <section class="contact__map">
    <div class="container-fluid p-0">
      <div class="row g-0">
        <div class="col-xl-12">
          <div class="contact__map-wrapper p-relative">
            <iframe
              src="https://maps.google.com/maps?hl=es&amp;q=Lima+Peru&amp;ie=UTF8&amp;t=&amp;z=12&amp;iwloc=B&amp;output=embed"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- mapa de contacto fin -->
</main>
