<app-espaciador height="6rem"></app-espaciador>
<app-titulo-seccion
  [Titulo1]="'SeccionRecetasTit' | transloco"
  [desc1]="'SeccionRecetasSub' | transloco"
>
</app-titulo-seccion>
<app-espaciador height="2rem"></app-espaciador>

<div class="container my-5">
  <div class="row g-4">
    <!-- Generar 3 cards con *ngFor -->
    <div class="col-12 col-md-4" *ngFor="let v of videos">
      <div
        style="background-color: #f5f5f5"
        class="card shadow-sm h-100 border-0 video-card"
        data-bs-toggle="modal"
        data-bs-target="#videoModal"
        (click)="openVideo(v.src)"
      >
        <div class="ratio rounded-3 overflow-hidden position-relative">
          <img
            [src]="v.poster"
            [alt]="v.title"
            class="w-100 h-100 object-fit-cover d-block"
          />
          <div class="play-overlay">▶︎</div>
        </div>

        <div class="card-body text-center">
          <h4 class="card-title-custom mb-0">{{ v.title }}</h4>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal de video -->
  <div
    class="modal fade"
    id="videoModal"
    #videoModalEl
    tabindex="-1"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content bg-black border-0">
        <div class="modal-body p-0">
          <div class="ratio ratio-16x9">
            <video
              #modalVideo
              [src]="currentVideoSrc"
              class="w-100 h-100"
              controls
              playsinline
            ></video>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
