<section class="footer__area footer-bg" [class.box-m-15]="box_style">
  <div class="footer__top pt-100 pb-60">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-12">
          <div class="footer__widget mb-30">
            <div class="footer__widget-title mb-25">
              <a routerLink="/home/home-style-1">
                <!-- <img src="/assets/img/logo/logo-2.png" alt="logo"> -->
                <div class="footer__widget-title">
                  <h1>BIVVO</h1>
                </div>
              </a>
            </div>
            <div class="footer__widget-content">
              <p>Bivvo Market ha creado una forma fresca e innovadora para que los consumidores compren alimentos y refrigerios saludables. Nos referimos a comer alimentos ecológicos, de origen ético y ricos en nutrientes.</p>
              <div class="footer__contact">
                <ul>
                  <li>
                    <div class="icon">
                      <i class="fal fa-map-marker-alt"></i>
                    </div>
                    <div class="text">
                      <span>Add: 1234 Heaven Stress, Beverly Hill, Melbourne, USA.</span>
                    </div>
                  </li>
                  <li>
                    <div class="icon">
                      <i class="fal fa-envelope-open-text"></i>
                    </div>
                    <div class="text">
                      <span>Email: Contact&#64;basictheme.com</span>
                    </div>
                  </li>
                  <li>
                    <div class="icon">
                      <i class="fal fa-phone-alt"></i>
                    </div>
                    <div class="text">
                      <span>Phone Number: (800) 123 456 789</span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-3 col-12">
          <div class="footer__widget mb-30">
            <div class="footer__widget-title">
              <h5>Nuestrar Paginas</h5>
            </div>
            <div class="footer__widget-content">
              <div class="footer__links">
                <ul>
                  <li><a href="#">Inicio</a></li>
                  <li><a href="#">Productos</a></li>
                  <li><a href="#">Recetas</a></li>
                  <li><a href="#">Contacto</a></li>
               
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-3 col-12">
          <div class="footer__widget mb-30">
            <div class="footer__widget-title mb-25">
              <h5>Nuestros enlaces</h5>
            </div>
            <div class="footer__widget-content">
              <div class="footer__links">
                <ul>
                  <li><a href="#">Preguntas Frecuentes</a></li>
                  <li><a href="#">Terminos y condiciones</a></li>
                  <li><a href="#">Politica de privacidad</a></li>
                  <li><a href="#">Online Stores</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        
        
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-7">
          <div class="footer__copyright">
            <p>Copyright ©<a routerLink="/home/home-style-1">Bivvo</a> all rights reserved. Powered by
              <a routerLink="/home/home-style-1">Bivvo</a>
            </p>
          </div>
        </div>
        <div class="col-xl-6 col-lg-5">
          <div class="footer__social f-right">
            <ul>
              <li *ngFor="let item of social_links">
                <a [href]="item.link" target="_blank"><i [class]="item.icon"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>