<div class="terms-container">
  <h2>{{ 'privacy.title' | transloco }}</h2>
  <p [innerHTML]="'privacy.intro1' | transloco"></p>
  <p>{{ 'privacy.intro2' | transloco }}</p>
  <p>{{ 'privacy.intro3' | transloco }}</p>

  <h3>{{ 'privacy.consent.title' | transloco }}</h3>
  <p>{{ 'privacy.consent.text' | transloco }}</p>

  <h3>{{ 'privacy.infoCollected.title' | transloco }}</h3>
  <p>{{ 'privacy.infoCollected.p1' | transloco }}</p>
  <p>{{ 'privacy.infoCollected.p2' | transloco }}</p>
  <p>{{ 'privacy.infoCollected.p3' | transloco }}</p>

  <h3>{{ 'privacy.howUse.title' | transloco }}</h3>
  <ul>
    <li
      *ngFor="let item of ['privacy.howUse.list.0','privacy.howUse.list.1','privacy.howUse.list.2','privacy.howUse.list.3','privacy.howUse.list.4','privacy.howUse.list.5','privacy.howUse.list.6']">
      {{ item | transloco }}
    </li>
  </ul>

  <h3>{{ 'privacy.logs.title' | transloco }}</h3>
  <p>{{ 'privacy.logs.text' | transloco }}</p>

  <h3>{{ 'privacy.cookies.title' | transloco }}</h3>
  <p>{{ 'privacy.cookies.p1' | transloco }}</p>
  <p>{{ 'privacy.cookies.p2' | transloco }}</p>

  <h3>{{ 'privacy.ads.title' | transloco }}</h3>
  <p>{{ 'privacy.ads.p1' | transloco }}</p>
  <p>{{ 'privacy.ads.p2' | transloco }}</p>
  <p>{{ 'privacy.ads.p3' | transloco }}</p>

  <h3>{{ 'privacy.thirdParty.title' | transloco }}</h3>
  <p>{{ 'privacy.thirdParty.p1' | transloco }}</p>
  <p>{{ 'privacy.thirdParty.p2' | transloco }}</p>

  <h3>{{ 'privacy.ccpa.title' | transloco }}</h3>
  <p>{{ 'privacy.ccpa.p1' | transloco }}</p>
  <ul>
    <li *ngFor="let item of ['privacy.ccpa.rights.0','privacy.ccpa.rights.1','privacy.ccpa.rights.2']">
      {{ item | transloco }}
    </li>
  </ul>
  <p>{{ 'privacy.ccpa.p2' | transloco }}</p>

  <h3>{{ 'privacy.gdpr.title' | transloco }}</h3>
  <p>{{ 'privacy.gdpr.p1' | transloco }}</p>
  <ul>
    <li
      *ngFor="let item of ['privacy.gdpr.rights.0','privacy.gdpr.rights.1','privacy.gdpr.rights.2','privacy.gdpr.rights.3','privacy.gdpr.rights.4','privacy.gdpr.rights.5']">
      {{ item | transloco }}
    </li>
  </ul>
  <p>{{ 'privacy.gdpr.p2' | transloco }}</p>

  <h3>{{ 'privacy.children.title' | transloco }}</h3>
  <p>{{ 'privacy.children.p1' | transloco }}</p>
  <p>{{ 'privacy.children.p2' | transloco }}</p>
</div>