<main>
  <div class="box-25">
    <div class="espacio">
      <app-hero-slider-two></app-hero-slider-two>
    </div>

    <div class="espacio">
      <app-shop-area [shop_4_col]="true"></app-shop-area>
    </div>

    <div class="espacio">
      <app-video></app-video>
    </div>

    <div class="espacio">
      <app-client-slider></app-client-slider>
    </div>

    <div class="espacio">
      <app-recetas></app-recetas>
    </div>

    <div class="espacio">
      <app-resena></app-resena>
    </div>
  </div>
</main>
