<main>
  <div class="box-25">
    <app-hero-slider-two></app-hero-slider-two>

    <app-caracteristicas></app-caracteristicas>
    <app-espaciador color="#fdd1c4" height="5rem"></app-espaciador>

    <!-- <div class="espacio"></div> -->
    <app-shop-area [shop_4_col]="true"></app-shop-area>
    <app-espaciador color="#fdd1c4" height="5rem"></app-espaciador>

    <app-video></app-video>
    <app-espaciador color="#fdd1c4" height="5rem"></app-espaciador>
    <app-resena></app-resena>
    <app-espaciador color="#fdd1c4" height="5rem"></app-espaciador>
    <app-video-solo></app-video-solo>
    <app-espaciador color="#fdd1c4" height="5rem"></app-espaciador>
    <app-recetas></app-recetas>
    <app-espaciador color="#fdd1c4" height="5rem"></app-espaciador>
    <app-video></app-video>
    <app-espaciador color="#fdd1c4" height="9rem"></app-espaciador>
  </div>
</main>
