.slider__area-2 {

  .swiper-container,
  .swiper-wrapper,
  .swiper-slide {
    width: 100%;
  }

  /* Tu clase ya usada en el slide */
  .slider__height-2 {
    min-height: 480px;
    max-height: 820px;
    background-repeat: no-repeat;
  }

  /* Ajustes por breakpoint */
  @media (max-width: 992px) {
    border: 0px solid blue($color: #000000);

    .slider__height-2 {
      height: 60vh;
      min-height: 480px;
    }
  }

  @media (max-width: 576px) {
    .slider__height-2 {
      height: 62vh;
      min-height: 320px;
    }

    .slider__content {
      padding-top: 2rem;
      /* sube todo el bloque */
    }

    .slider__content h2 {
      font-size: 2rem;
      /* más pequeño para móvil */
      margin-top: -10rem;
      /* <- aquí subes solo el h2 */
    }

    .os-btn-white {
      width: 210px;
      padding: 0px;
      margin: 0px;
    }

    .os-btn {
      width: 210px;
      padding: 0px;
      margin: 0px;
    }

  }


}
